.form__field_theme-dark {
	margin-top: 18px;
	color: #CCCCCC;
	background-color: #000000;
	border-bottom: 2px solid #CCCCCC;
}

@media screen and (max-width: 619px) {
	.form__field_theme-dark {
		width: 260px;
	}
}