.profile__title-group {
	margin: 0;
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 918px) {
	.profile__title-group {
		margin-top: 26px;
		margin-bottom: 0;
		margin-left: 42px;
	}
}

@media screen and (max-width: 619px) {
	.profile__title-group {
		margin-left: 28px;
	}
}