.header__link {
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.22;
	text-align: right;
	color: #A9A9A9;
	cursor: pointer;
}

.header__link:hover {
	opacity: 0.6;
}