.form__reg-caption {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 15px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.21;
	cursor: default;
}