.element__icon-button {
	margin: auto 0;
	padding: 0;
	width: 22px;
	height: 19px;
	border: 0;
	box-sizing: border-box;
	background-image: url("../../../images/like-icon.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	transition: .15s;
	cursor: pointer;
}

.element__icon-button:hover {
	opacity: 0.5;
}