.profile__subtitle {
	margin: 0;
	margin-top: 11px;
	max-width: 294px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.22;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 619px) {
	.profile__subtitle {
		margin-top: 8px;
		max-width: 254px;
		font-size: 14px;
	}
}