.popup__close-btn {
    position: absolute;
    top: -42px;
    right: -42px;
    width: 40px;
    height: 40px;
    background: url(../../../images/popup/close-icon-1280.svg) no-repeat center;
    border: none;
    padding: 0;
    outline: none;
}

.popup__close-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .popup__close-btn {
        background: url(../../../images/popup/close-icon-320.svg) no-repeat center;
        width: 20px;
        height: 20px;
        top: -45px;
        right: 8px;
    }
}
